:host ::ng-deep p-rating.review-rating {
    --p-rating-icon-size: 2rem;
    --p-rating-icon-hover-color: #f59f0a;
    --p-rating-icon-active-color: #f59f0a;
}

:host ::ng-deep p-rating.review-rating .p-rating-icon {
    font-size: 2rem !important;
    width: 2rem !important;
    height: 2rem !important;
}

:host ::ng-deep p-rating.review-rating .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-option:hover .p-rating-icon,
:host ::ng-deep p-rating.review-rating .p-rating-option-active .p-rating-icon {
    color: #f59f0a !important;
}

.publicarReseña {
    background-color: #008000;
    opacity:0.5
}