toolloop-front/package-lock.json
toolloop-back/compile-native.sh
toolloop-back/deploy-native-first-time.sh
toolloop-back/redeploy.sh
package-lock.json
/.idea
/.idea/*
/.idea/misc.xml
CLAUDE.md
.claude
.claude/*
.claude/settings.local.json
.agents/*
skills-lock.json
/docs
/docs/*