<div class="bg-gray-50 width-full">
    <div class="max-w-5xl mx-auto">
        <div class="py-8 px-4 flex flex-col gap-6 justify-between">
            <div class="flex flex-col gap-2 items-start justify-center">
                <span class="text-gray-500">Bienvenido de vuelta,</span>
                <h1 class="text-2xl font-bold">{{ loggedInUser()?.name }}👋</h1>
            </div>
            <div class="bg-linear-to-r from-green-700 to-emerald-500 rounded-2xl p-6 text-white flex flex-col gap-4">
                <div class="flex flex-row justify-between items-start">
                    <div class="flex flex-col">
                        <span class="text-[14px] text-gray-200">Saldo de préstamos</span>
                        <h1 class="text-3xl font-bold">{{ dashboardInfo()?.totalEarnings | currency:'EUR' }}</h1>

                    </div>
                    <div class="flex p-2 bg-white/20 gap-1 rounded-2xl text-[16px]">
                        <fa-icon [icon]="faStar"></fa-icon>
                         <span class="">{{ dashboardInfo()?.userRating | number:'1.1-1' }}</span>
                    </div>
                </div>
                <hr class="text-gray-200">
                <div class="flex flex-row gap-4 justify-between items-center">
                    <div class="flex flex-col">
                        <h2 class="font-semibold text-xl">{{ dashboardInfo()?.totalRentals }}</h2>
                        <span class="text-[14px] text-gray-300">Alquileres</span>
                    </div>
                    <div class="flex flex-col">
                        <h2 class="font-semibold text-xl">{{ dashboardInfo()?.totalTools }}</h2>
                        <span class="text-[14px] text-gray-300">Herramientas</span>
                    </div>
                    <div class="flex flex-col">
                        <h2 class="font-semibold text-xl">{{ dashboardInfo()?.activeRentals }}</h2>
                        <span class="text-[14px] text-gray-300">Activos</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row justify-between items-center gap-3">
                <button class="flex flex-col justify-center items-center bg-white p-3 w-full rounded-2xl gap-1 cursor-pointer" routerLink="/app/favorites">
                    <fa-icon [icon]="faHeart" class="bg-red-100 p-3 text-red-500 rounded-2xl text-[20px]"></fa-icon>
                    <span class="text-[17px]">Mis favoritos</span>
                </button>
                <button class="flex flex-col justify-center items-center bg-white p-3 w-full rounded-2xl gap-1 cursor-pointer" routerLink="/app/addTool">
                    <fa-icon [icon]="faPlus" class="bg-green-100 p-3 text-green-500 rounded-2xl text-[20px]"></fa-icon>
                    <span class="text-[17px]">Añadir herramienta</span>
                </button>
            </div>
            <div class="flex flex-col gap-3 w-full">
                <div class="flex flex-row justify-between items-center">
                    <h2 class="text-2xl font-bold">Alquileres activos</h2>
                    <button class="text-green-700 hover:text-green-600 text-[16px] cursor-pointer" routerLink="/app/myRentals">Ver todos ></button>
                </div>
                <div class="flex flex-row gap-3 items-start bg-white p-4 rounded-2xl">

                    <img [src]="dashboardInfo()?.nextExpiringRental?.tool?.photos?.[0]?.photoKey"
                         class="imgHerramienta h-30 w-40 object-cover rounded-2xl" alt="Imagen de {{ dashboardInfo()?.nextExpiringRental?.tool?.name }}">
                    <div class="w-full flex flex-col items-start gap-4">
                        <span class="font-medium text-1xl">{{ dashboardInfo()?.nextExpiringRental?.tool?.name }}</span>
                        <p class="text-gray-500 text-[14px] flex items-center gap-2">
                            <span class="capitalize">{{ dashboardInfo()?.nextExpiringRental?.startDate | date:'d MMMM yyyy' }}</span>

                            <fa-icon [icon]="faArrowRight" class="text-[12px]"></fa-icon>

                            <span class="capitalize">{{ dashboardInfo()?.nextExpiringRental?.endDate | date:'d MMMM yyyy' }}</span>
                        </p>
                        <div class="flex flex-row justify-between items-center w-full">
                            <div class="rounded-2xl bg-green-200">
                                <span class="p-2 text-green-700 font-medium text-[14px]">
                                    {{ dashboardInfo()?.nextExpiringRental?.daysRemaining }} días restantes
                                </span>
                            </div>
                            <button class="bold-semibold text-cyan-500 hover:text-cyan-700 text-[16px] cursor-pointer" routerLink="/app/rentals/1">Ver detalles ></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col gap-3 w-full">
                <div class="flex flex-row justify-between items-center">
                    <h2 class="text-2xl font-bold">Mis herramientas</h2>
                    <button class="text-green-700 hover:text-green-600 text-[16px] cursor-pointer" routerLink="/app/myTools">Gestionar ></button>
                </div>

                @let tools = dashboardInfo()?.recentTools ?? [];

                <div [class]="tools.length === 2
                    ? 'grid grid-cols-3 gap-3 items-center'
                    : 'grid grid-cols-2 gap-3 items-center'">

                    @for (tool of tools; track tool.toolId) {
                    <div class="flex flex-col hover:shadow-xl/20 transform border border-gray-200 rounded-2xl cursor-pointer">
                        <img [src]="tool.photos?.[0]?.photoKey"
                             class="imgHerramienta h-30 w-full object-cover rounded-t-lg"
                             [alt]="tool.name">
                        <div class="p-3 flex flex-col gap-1">
                            <span class="font-medium text-[16px]">{{ tool.name }}</span>
                            <div class="flex flex-row justify-between items-center text-[14px]">
                                <span class="text-green-700 font-bold">{{ tool.pricePerDay }}€/día</span>
                                @if (tool.isReserved) {
                                <span class="text-white bg-orange-400 rounded-2xl p-1">Reservado</span>
                                } @else {
                                <span class="text-white bg-green-500 rounded-2xl p-1">Disponible</span>
                                }
                            </div>
                        </div>
                    </div>
                    }

                    <!-- Botón añadir: siempre al final -->
                    <div class="border border-dashed flex flex-col rounded-2xl justify-center items-center cursor-pointer p-19 text-gray-400 h-full"
                         routerLink="/app/addTool">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        <span>Añadir</span>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <br> <br>

    <button class="bg-gray-600 hover:not-focus:bg-gray-700 text-white rounded p-2 cursor-pointer" (click)="logout()">Cerrar sesión</button>

</div>

