@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "leaflet/dist/leaflet.css";

:root {
    --p-tooltip-font-size: 12px;
    --p-tooltip-padding-y: 0.25rem;
    --p-tooltip-padding-x: 0.5rem;
}

body {
  font-family: 'Inter', sans-serif;
}

.bg-gradient-1{
    background: linear-gradient(160deg, #008000 8.49%, #2FB2D8 91.51%);
}

.leaflet-container {
    overflow: hidden !important;
}

.leaflet-container img {
    max-width: none !important;
    max-height: none !important;
}

.leaflet-container .leaflet-pane,
.leaflet-container .leaflet-tile,
.leaflet-container .leaflet-marker-icon,
.leaflet-container .leaflet-marker-shadow,
.leaflet-container .leaflet-tile-container,
.leaflet-container .leaflet-pane > svg,
.leaflet-container .leaflet-pane > canvas,
.leaflet-container .leaflet-zoom-box,
.leaflet-container .leaflet-image-layer,
.leaflet-container .leaflet-layer {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
}

.leaflet-container .leaflet-overlay-pane svg {
    max-width: none !important;
    max-height: none !important;
}

@media (max-width: 767px) {
    .leaflet-control-zoom {
        display: none !important;
    }
}

.p-tooltip-text {
    font-size: var(--p-tooltip-font-size) !important;
    padding: var(--p-tooltip-padding-y) var(--p-tooltip-padding-x) !important;
}


@media screen and (max-width: 640px) {
    .toast-responsive-fix {
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
    }

    .toast-responsive-fix .p-toast-message {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}